<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0" *ngIf="mode==1">Detalle</h3>
          <h3 class="mb-0" *ngIf="mode==2">Creación</h3>
          <h3 class="mb-0" *ngIf="mode==3">Actualización</h3>
        </div>
        <form class="form" [formGroup]="theFormGroup">
          <div class="card-body container">
            <!-- Campo ID -->
            <div class="row">
              <div class="col-3">ID</div>
              <div class="col-9">
                <input type="text" class="form-control" [value]="gps.id" [disabled]="true">
              </div>
            </div>
            <br>

            <!-- Campo Latitud -->
            <div class="row">
              <div class="col-3">Latitud</div>
              <div class="col-9">
                <input type="text" class="form-control" [(ngModel)]="gps.latitude"
                  [disabled]="mode==1" formControlName="latitude">
              </div>
            </div>
            <br>

            <!-- Campo Longitud -->
            <div class="row">
              <div class="col-3">Longitud</div>
              <div class="col-9">
                <input type="text" class="form-control" [(ngModel)]="gps.longitude"
                  [disabled]="mode==1" formControlName="longitude">
              </div>
            </div>
            <br>

            <!-- Campo Altitud -->
            <div class="row">
              <div class="col-3">Altitud</div>
              <div class="col-9">
                <input type="text" class="form-control" [(ngModel)]="gps.altitude"
                  [disabled]="mode==1" formControlName="altitude">
              </div>
            </div>
            <br>

            <!-- Campo ID de Máquina -->
            <div class="row">
              <div class="col-3">ID de Máquina</div>
              <div class="col-9">
                <input type="number" class="form-control" [(ngModel)]="gps.machine_id"
                  [disabled]="mode==1" formControlName="machine_id">
              </div>
            </div>
            <br>

            <!-- Botones -->
            <div class="row">
              <div class="col-3"></div>
              <div class="col-9">
                <button *ngIf="mode==1" class="btn btn-primary" (click)="back()">Volver</button>
                <button *ngIf="mode==2" class="btn btn-primary" (click)="create()">Crear</button>
                <button *ngIf="mode==3" class="btn btn-primary" (click)="update()">Actualizar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
