<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>

<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0" *ngIf="mode==1">Detalle</h3>
          <h3 class="mb-0" *ngIf="mode==2">Creación</h3>
          <h3 class="mb-0" *ngIf="mode==3">Actualización</h3>
        </div>
        <form class="form" [formGroup]="theFormGroup">
          <div class="card-body container">
            <div class="row">
              <div class="col-3">ID</div>
              <div class="col-9">
                <input type="text" class="form-control" [value]="governor.id" [disabled]="true">
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-3">Nombre</div>
              <div class="col-9">
                <input type="text" class="form-control" [(ngModel)]="governor.name"
                  [disabled]="mode==1" formControlName="name">
                <div *ngIf="getTheFormGroup.name.errors && (getTheFormGroup.name.dirty || getTheFormGroup.name.touched || trySend)">
                  <strong *ngIf="getTheFormGroup.name.errors.required" class="msnError">Requerido</strong>
                  <strong *ngIf="getTheFormGroup.name.errors.minlength" class="msnError">
                    Mínimo {{getTheFormGroup.name.errors.minlength.requiredLength}} caracteres
                  </strong>
                  <strong *ngIf="getTheFormGroup.name.errors.maxlength" class="msnError">
                    Máximo {{getTheFormGroup.name.errors.maxlength.requiredLength}} caracteres
                  </strong>
                </div>
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-3">Departamento</div>
              <div class="col-9">
                <input type="number" class="form-control" [(ngModel)]="governor.department_id"
                  [disabled]="mode==1" formControlName="department_id">
                <div *ngIf="getTheFormGroup.department_id.errors && (getTheFormGroup.department_id.dirty || getTheFormGroup.department_id.touched || trySend)">
                  <strong *ngIf="getTheFormGroup.department_id.errors.required" class="msnError">Requerido</strong>
                </div>
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-3">Usuario</div>
              <div class="col-9">
                <input type="number" class="form-control" [(ngModel)]="governor.user_id"
                  [disabled]="mode==1" formControlName="user_id">
                <div *ngIf="getTheFormGroup.user_id.errors && (getTheFormGroup.user_id.dirty || getTheFormGroup.user_id.touched || trySend)">
                  <strong *ngIf="getTheFormGroup.user_id.errors.required" class="msnError">Requerido</strong>
                </div>
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-3"></div>
              <div class="col-9">
                <button *ngIf="mode==1" class="btn btn-primary" (click)="back()">Volver</button>
                <button *ngIf="mode==2" class="btn btn-success" (click)="create()">Crear</button>
                <button *ngIf="mode==3" class="btn btn-primary" (click)="update()">Actualizar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
